body{
    padding: 0;
    margin: 0;
    background-color: aqua;
}
#image{
    height: 300px;
    width: 500px;
    border-radius: 5px;
    margin-top: 120px;
    margin-left: 150px;
}
section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#container2{
    margin-top: 80px;
    margin-left: 40px;
}
#Giveaway-h1{
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}
#text-1{
    margin-top: -20px;
    font-size: 17px;
}
#text-2{
    font-weight: bold;
    font-family: sans-serif;
}
#Giveaway-time{
    display: flex;
    margin-top: -30px;
}
#Giveaway-time div{
    flex-basis: 100px;
    
}
#Giveaway-time div p{
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: -7px;
}
#Giveaway-time div span{
    margin-left: 4px;
}
@media screen and (max-width: 336px) {
    section{
        display: block;
    }
    #image{
        height: 180px;
        width: 280px;
        margin-left: 30px;
        margin-top: 70px;
    }
    #Giveaway-h1{
        font-size: 25px;
        margin-left: -20px;
    }
    #text-2{
        margin-left: -20px;
    }
    #text-1{
        margin-left: -20px;
    }
}
@media screen and (max-width: 1024px){
    #image{
        height: 250px;
        width: 380px;
    }
    #Giveaway-h1{
        font-size: 35px;
        
    }
    #text-2{
        margin-top: -6px;
    }
    #text-3{
        margin-top: -6px;
    }
    #Giveaway-time{
        margin-top: -50px;
    }
}
@media screen and (max-width: 768px){
    #image{
        height: 220px;
        width: 330px;
        margin-left: 50px;
    } 
    #Giveaway-h1{
        font-size: 27px;
        margin-top: 40px;
    }
}
@media screen and (max-width: 320px){
    #image{
        width: 260px;
        height: 180px;
        margin-left: 20px;
    }
    #Giveaway-time{
        margin-top: 10px;
        margin-left: -10px;
    }
}
@media screen and (max-width: 375px){
    section{
        display: block;
    }
    #image{
        height: 200px;
        width: 280px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 425px){
    section{
        display: block;
    }
    #image{
        margin-top: 20px;
    }
    #Giveaway-time{
        margin-top: -20px;
    }
}